/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  /* background-image: url("tic-tac-toe.jpg"); */
}

.footer {
   padding-top: 15px;

    bottom: 0;
    color: white;
    height: 100%;
    left: 0;
    position: relative; //changed to relative from fixed also works if position is not there
    width:100%;

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 20px 15px 0;

}

.footer i {
  width: 20px;
  height: 20px;


}

.footer a {
  border-radius: 30px;
  font-size: 1.3rem;

  background-color: #8a8a8a ;
  padding: 20px;
  color: #fefefe;

}

.footer i:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}



code {
  font-size: 80%;
}
