
html,body{
  /* overflow-x: hidden; */
  overflow-x:hidden;
   background-image: url(../images/tic-tac-toe.jpg);
   min-height: 100vh;
}

.game-div {
  /* background:green; */
  height: 65vh;
  width: 70vh;
  margin-bottom: 50px;
}

.bottom-div {
  /* background:blue; */
  min-height: 15vh;
}

div.game-div div.row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  height: 33.333%;
  margin:0px;
  padding: 0px;
}

div.game-div div.row  div{

  /* border: 0.7px solid #656264; */
}

@keyframes changesOpacityX {
  from {
    opacity:0.9;
  }

  to {
    opacity:0;
  }
}
@keyframes changesOpacityO {
  from {
    opacity:0;
  }

  to {
    opacity:0.9;
  }
}
div.game-div img {
  top: 25px;
  left: 25px;
  max-width:90%;
  max-height:90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div.game-div div.row img.x{
  filter: brightness(70%);
  z-index: 1;
  cursor: pointer;
  opacity:0;
  /* animation-duration: 1.8s;
  animation-name: changesOpacityX;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

div.game-div div.row img.o{
  filter: brightness(70%);
  z-index: 3;
  cursor: pointer;
  opacity:0;
}

.choosen{
  opacity:1;
  position: absolute;
}

div#gameDiv .row {
  display:none;
}

 div#actualPlayer {
     margin-bottom: 50px;
 }

@media screen and (max-width: 480px) {
    img {
       width: 100px;
    }
}
@media screen and (max-width: 815px) {
    img {
       width: 100px;
    }
}

/* golden star and table css */

.golden-star{
  color:#ffd700;
}
